.password-update {
    margin-top: 2rem;
    height: 100vh;
}

.password-update>form {
    width: 30%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 20px 30px 20px;
    margin-top: 2rem;
}

.password-update>h3>span {
    border-bottom: 4px solid #0E185F;
    padding-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.passwrd-update-wrapper{
    margin-top: 7.7rem;
}

.password-update>form>input {
    width: 100%;
    margin-top: 2rem;
    height: 40px;
    outline: none;
    padding: 8px 10px;
    font-size: calc(9pt + 0.15vw);
    font-family: 'Poppins', 'sans-serif';
    letter-spacing: 0.03em;
}

.password-update>form>button {
    margin-top: 2rem;
    background-color: #F7F7F7;
    padding: 10px 20px;
    font-family: 'Poppins', 'sans-serif' !important;
    letter-spacing: 0.03em;
    font-weight: 600;
}

.password-update>h3 {
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    letter-spacing: 0.03em;
    font-weight: 600;
    font-size: calc(16pt + 0.15vw);
}

.breadcrumbs {
    position: relative;
    top: 0;
}

.breadcrumbs>p {
    position: absolute;
    background-color: #F7F7F7;
    padding: 10px 20px;
    top: -30px;
    left: 0;
    font-size: calc(9pt + 0.15vw);
    font-family: 'Poppins', 'sans-serif';
}

.breadcrumbs>p>a {
    text-decoration: none !important;
}

@media screen and (max-width: 1080px) {
    .password-update>form {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .breadcrumbs>p {
        top: -62px;
    }

    .password-update>h3 {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 640px) {
    .password-update>form {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .password-update>form {
        width: 100%;
    }
}